.background    { 
	/*background: rgb(52, 166, 251);*/
	background: gray;
  table-layout: fixed;
  border-spacing: 0;   
}
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }
.far {
	background: silver;
  table-layout: fixed;
  border-spacing: 0;
  z-index: -1;
}
.far td { padding: 0;          }

td .far {
	z-index: -1;
}

.base2 {
	font-family: monaco;
	font-weight: bold;
	font-size: small;
	text-align: center;
}

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64); }

.game {
  overflow: hidden;
/*  max-width: 600px;
  max-height: 450px;*/
  max-width: 480px;
  max-height: 320px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
